<div id="init-bar">

    <div class="init-button-bar">
        <button mat-raised-button id="init-button" color="accent">
            <app-svg [fillColor]="fillColor"></app-svg>
        </button>
    </div>

    <div id="search">
        <mat-form-field appearance="legacy" class="search-input-bar">
            <mat-label>Escribe aquí para buscar</mat-label>
            <input matInput>
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>

    <div id="programs">
        <div class="programs-content">
            <ng-template ngFor let-item="$implicit" [ngForOf]="taskManager.activeTasks" let-i="index">
                <app-program-icon [program]="item" ></app-program-icon>
              </ng-template>
        </div>
    </div>

    <div id="status">

    </div>

    <div id="hideAll" (click)="hideAll()">
        
    </div>
</div>