<div id="init-bar">

    <div class="init-button-bar">
        <button mat-raised-button id="init-button" color="accent">
            <app-svg [fillColor]="fillColor"></app-svg>
        </button>
    </div>

    <div id="search">
        <mat-form-field appearance="legacy" class="search-input-bar">
            <mat-label>Escribe aquí para buscar</mat-label>
            <input matInput>
            <mat-icon matPrefix>help</mat-icon>
        </mat-form-field>
    </div>

    <div id="programs">
        <div class="programs-content">
            <app-program-icon icon="home"></app-program-icon>
            <app-program-icon icon="help"></app-program-icon>
            <app-program-icon icon="launch"></app-program-icon>
            <app-program-icon icon="functions"></app-program-icon>
        </div>
    </div>

    <div id="status">

    </div>
</div>