<div class="view-finder-os">
  <app-view-content></app-view-content>
  <app-menu-bar></app-menu-bar>
</div>
<div class="init-loading" [ngClass]="classLogin">
  <ng-container *ngIf="loginLoaded">
    <div class="from-login" [hidden]="!loginIsVisible">

      <app-login *ngIf="loginView" (changeLoginVisibleEmitter)="loginIsVisible = !loginIsVisible" (classLoginEmitter)="login($event)" (newUserEmitter)="loginView = false"></app-login>
      <app-new-user *ngIf="!loginView" (changeLoginVisibleEmitter)="loginIsVisible = !loginIsVisible" (newUserEmitter)="loginView = true"></app-new-user>
  
    </div>
  </ng-container>
  
  <div class="loader" *ngIf="!loginIsVisible">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
  </div>
  
</div>