#configMenuSystemProgram {
  margin: 15px;

  .backgroundCollection {
    display: flex;

    .mat-card {
      margin: 2px;
      padding: 0px;
      display: flex;
      cursor: pointer;
      &:hover {
        outline: aquamarine solid 2px;
      }

      &.selected {
        outline: goldenrod solid 2px;
      }
      

      img {
        max-height: 100px;
        max-width: 100px;
        
      }

    }
  }
  .backgroundSetting { 
    padding-top: 15px;
  }
  

}  