@use '~@angular/material' as mat;
@include mat.core();

$angularTest-primary: mat.define-palette(mat.$indigo-palette);
$angularTest-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angularTest-warn: mat.define-palette(mat.$red-palette);

$angularTest-theme: mat.define-light-theme((
  color: (
    primary: $angularTest-primary,
    accent: $angularTest-accent,
    warn: $angularTest-warn,
  )
));

@include mat.all-component-themes($angularTest-theme);

$wInitButton: 48px;
$wSearch: 344px;
$wStatus: 193px;
$wMinimizeAll: 5px;


html, body { 
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 

  
  #content {

    &.background-fill {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &.background-adjust {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &.background-adjust-right {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }
    &.background-expand {
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &.background-original {
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }

    height: calc(100vh - 40px);
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  #init-bar {
    background-color: rgb(28, 28, 28);
    height: 40px;
    display: flex;
    max-width: 100vw;
    width: 100vw;
    z-index: 999999;
    
    #init-button {
        border-radius: 0px;
        background-color: rgb(28, 28, 28);
        margin: 0px 0px 0px 0px;
        padding: 0px;
        height: 40px;
        min-width: $wInitButton;

        #init-icon {
            width: 21px;
        }
    }
    #init-button:hover {
      background-color: #313131;
      
      svg {
        fill: rgb(66, 156, 227);
      }
    }

    mat-toolbar {
        height: 40px;
    }
    #search {
      height: 40px;
      width: $wSearch;
      background-color: white;
      contain: content;
    }

    #programs {
      padding: 2px 10px;
      width: calc(100vw - #{$wInitButton} - #{$wSearch} - #{$wStatus} - #{$wMinimizeAll});
      .programs-content {
        display: flex;
        flex-direction: row;
      }
    }

    #status-bar {
      width: $wStatus;
      display: flex;
      padding: 5px;

      .status-icon-bar {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;

        app-status-icon {
          margin-right: 3px;
        }
      }
      
      #watch {
        width: 82px;
      }
            
      
    }

    #minimize-all {
      height: 40px;
      width: $wMinimizeAll;
      border-left: rgb(124, 120, 120) solid 1px;
    }
    #minimize-all:hover {
      background: #5d5858;
    }
  
  }
  
  
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0;
  }
  .cdk-overlay-backdrop {
    position: relative;
  }
  .cdk-global-overlay-wrapper {
    z-index: auto;
  }

  .cdk-overlay-container {
    .dialogProgram {
      max-width: 100vw !important;
      max-height: calc(100vh - 40px);
      
    }
    .maximize {
      width: 100%;
      height: 100%;
      position: inherit !important;
      top: 0;
      left: 0;
      transform: none !important;
      z-index: 2000;
    }
    .noVisible {
      display: none;
    }

    .primary-window {
      z-index: 1500;
    }
    
  }
  .cdk-overlay-connected-position-bounding-box {
    z-index: 99999 !important;
  }

  .mat-menu-panel.menu_volume {
    min-width: 50px;
    width: 50px;
  }
  
  .mat-dialog-container {
    padding: 0px;
    
    overflow: visible;
    min-width: 300px;
    min-height: 500px;
    background-image: url("assets/img/Protruding-Squares.svg");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;

    .header-dialog {
      margin: 0px;
    }

    .mat-dialog-title {
      margin: 0px;
    }

    .mat-dialog-content {
      margin: 0px;
      padding: 0px;
      display: contents;
    }
    .program-dialog {

    }
    
  }

  
  
  

}
