<!-- Image background -->
<div id="imageBackground"
    *ngIf="backgroundService.typeBackgroundSelection == 'image' "
    [style]="{'background-image': backgroundService.srcBackgroundSelected }"
    [ngClass]="backgroundService.classCssBackgroundSelected.value">
</div>
<!-- Map background -->
<app-map-viewer id="mapBackground" *ngIf="backgroundService.typeBackgroundSelection == 'map' "></app-map-viewer>
<app-three-viewer id="threeBackground" *ngIf="backgroundService.typeBackgroundSelection == 'three' "></app-three-viewer>


<div id="content">
    <div id="menuIconsBackground">
        <ng-template ngFor let-item="$implicit" [ngForOf]="systemService.activedDesktopPrograms" let-i="index">
            <app-desktop-program-icon [program]="item"></app-desktop-program-icon>
        </ng-template>
    </div>
</div>