<div class="program-dialog">

    <div mat-dialog-title>
        <p cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="header-dialog">
            <mat-toolbar color="primary">
                <h1>Program X</h1>
                <span class="spacer"></span>
                <button mat-icon-button class="close-icon" [mat-dialog-close]="true">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
        </p>
    </div>

    <div mat-dialog-content>

        <mat-card>

            <div class="row">
                <div class="col-3">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
                <div class="col-3">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
                <div class="col-6">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
            </div>

        </mat-card>
        
    </div>
</div>