<div class="program-dialog" (mousedown)="windowClick()">

    <div mat-dialog-title>
        <p cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="#content" class="header-dialog">
            <mat-toolbar [style]="{'height': '36px','background-color': colorIcon}" cdkDragHandle>
                <mat-icon>{{program.iconName}}</mat-icon>
                <h1>{{program.title}} {{idTask}}</h1>
                <span class="spacer"></span>
                <button mat-icon-button (click)="minimize()">
                    <mat-icon>minimize</mat-icon>
                </button>
                <button mat-icon-button (click)="maximize()">
                    <mat-icon>maximize</mat-icon>
                </button>
                <button mat-icon-button [mat-dialog-close]="false" (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
        </p>
    </div>

    <div mat-dialog-content>
        <div class="window-content">
            <router-outlet name="routerOS"></router-outlet>
        </div>
    </div>
</div>