<div class="program-dialog" (mousedown)="windowClick()">

    <div mat-dialog-title>
        <p cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="header-dialog">
            <mat-toolbar color="primary">
                <mat-icon>{{program.iconName}}</mat-icon><h1>{{program.title}}  {{program.idTask}}</h1>
                <span class="spacer"></span>
                <button mat-icon-button (click)="minimize()">
                    <mat-icon>minimize</mat-icon>
                </button>
                <button mat-icon-button (click)="maximize()">
                    <mat-icon>maximize</mat-icon>
                </button>
                <button mat-icon-button [mat-dialog-close]="false" (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
        </p>
    </div>

    <div mat-dialog-content>

        <mat-card>

            <div class="row">
                <div class="col-3">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
                <div class="col-3">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
                <div class="col-6">
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                    HOLA
                    HPLÑA
                </div>
            </div>

        </mat-card>
        
    </div>
</div>