.audio-viewer {
    width: 100%;
    height: calc(100% - 70px);
}

.controls-content {
    background-color: black;
    width: 100%;
    margin: 0px;
    height: 70px;

    .program-icon-button {
        background-color: rgb(8, 8, 8);
        width: 70px;
        height: 70px;
    }

    #stop .mat-icon, #play_pause .mat-icon, #changeAnimation .mat-icon {
        font-size: 60px;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    

    #volume .mat-icon {
        color: white;
        font-size: 40px;
        width: 40px;
        top: 15px;
        position: relative;
    }
    
}