<div id="init-bar">

    <app-menu-init></app-menu-init>

    <div id="search">
        <mat-form-field appearance="legacy" class="search-input-bar">
            <mat-label>Escribe aquí para buscar</mat-label>
            <input matInput>
            <mat-icon matPrefix style="transform: scaleX(-1);">search</mat-icon>
        </mat-form-field>
    </div>

    <div id="programs">
        <div class="programs-content">
            <ng-template ngFor let-item="$implicit" [ngForOf]="taskManager.activeTasks" let-i="index">
                <app-program-icon [task]="item"></app-program-icon>
            </ng-template>
        </div>
    </div>

    <div id="status-bar">
        <div class="status-icon-bar">
            <ng-template ngFor let-item="$implicit" [ngForOf]="taskManager.mainPrograms" let-i="index">
                <app-status-icon [program]="item"></app-status-icon>
               
            </ng-template>
            
        </div>
        <app-watch></app-watch>
    </div>

    <div id="minimize-all" (click)="minimizeAll()"></div>
</div>