.search-input-bar {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 2px;

    .mat-form-field {
        .mat-form-field-prefix {
            margin-right: 5px;
        }
    }
    .mat-form-field-prefix, .mat-form-field-suffix {
        margin-right: 5px;
    }
}